.nav-link.active {
    color: #5851BC !important;
}

.main-header {
    position: relative;
    max-width: 100vw;
    padding-bottom: 25px;
    font-size: 1.6rem;
    background: #f7f7f7 url("../img/6.png ");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 100vh;
    padding: 6rem;
}

.header2 {
    position: relative;
    max-width: 100vw;
    padding-bottom: 25px;
    font-size: 1.6rem;
    background: #f7f7f7 url("../img/5.png ");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 100vh;
    padding: 6rem;
}

.header2 {
    text-align: right;
}

.about-box {
    overflow: hidden;
}

.header2 .col-md-7.col-sm-7 {
    direction: rtl;
    text-align: right;
}

@media(max-width:670px) {
    .overlay {
        background-size: contain;
    }
}

@media(max-width:1160px) {
    .overlay {
        position: relative;
        z-index: 0;
        /*background-size: contain;*/
    }
    .overlay::before {
        position: absolute;
        content: "";
        background-color: #375f40 !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }
    .overlay .heading-primary-main,
    .overlay .heading-primary-sub,
    .overlay .paragraph {
        color: #fff;
    }
}

.main-header__content {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
}

.heading-primary {
    color: #123b4f;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.heading-primary-main {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

.heading-primary-sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.8rem;
}

.paragraph {
    font-size: .9rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #777;
}

.button,
.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    display: inline-block;
    border-radius: 0.2rem;
    transition: all .2s;
    position: relative;
    font-size: .8rem;
    border: none;
    cursor: pointer;
}

.button-main {
    background-color: #4A41A3;
    color: #ffffff !important;
}

.clients {
    background-color: #ffffff;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.heading_content-box {
    max-width: 100%;
}

.heading-title {
    font-size: 1.3rem;
    font-weight: 300;
    display: inline-block;
    color: #FCA70C;
    border-bottom: 0.1rem solid;
    margin-top: 6rem;
}

.heading-main {
    display: inline-block;
    font-weight: 400;
    color: #123b4f;
    font-size: 1.3rem;
    margin: 0;
}

.clients-logos img {
    max-width: 70%;
    max-height: 100%;
}

.about {
    background-color: #f7f7f7;
    height: 100%;
    padding: 3rem 0;
    margin-top: 2rem;
}

.about-box_img img {
    max-width: 100%;
}

.about-box_content {
    height: 100%;
    display: flex;
    align-items: center;
}

.fixed-top {
    opacity: 0.96;
    display: flex;
    align-items: center;
    background-color: #ffffff !important;
    box-shadow: 0 6px 20px #cac4ce !important;
    width: 100%;
}

.services {
    overflow: hidden;
}

.services .row>.col-md {
    margin-bottom: 3rem;
}

@media (max-width: 75em) {
    .services .row>.col-md {
        padding: 0 5rem;
    }
}

.services .col-lg.mb-md-3 {
    padding-bottom: 3rem;
}

.services-card {
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
    background-color: #f7f7f7;
    padding: 5rem 1rem;
    height: 100%;
    width: 97%;
}

.services-card:not(:last-child) {
    margin-bottom: 2rem;
}

.services-card img {
    height: 6rem;
}

.services-card h2 {
    color: #0F1C70;
    font-size: 1.2rem;
    font-weight: 500 !important;
}

.services-card p {
    font-size: .9rem;
    font-weight: 400;
    color: #707070;
    font-family: "Open Sans", sans-serif;
}

.services-card a {
    background-color: #2a47af;
}

.services-card:hover {
    transform: scale(1.1);
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.07);
}

.services_service-img-box img {
    max-width: 100%;
}

.services_service-content-box {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.a-1 {
    background-color: #fbd97f !important;
}

.a-2 {
    background-color: #9ce8f6 !important;
}

.a-3 {
    background-color: #f77656 !important;
}

.button:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.contactus {
    overflow: hidden;
}

.whyus {
    padding-bottom: 10rem;
    margin-bottom: 6rem;
    background-color: #f7f7f7;
    overflow: hidden;
}

#service-3 {
    margin-bottom: 3rem;
}

@media (max-width: 75em) {
    .whyus .heading-main {
        font-size: 2rem;
    }
}

.whyus_img-box {
    display: flex;
    align-items: center;
    height: 100%;
}

.whyus_img-box img {
    max-width: 100%;
    width: 90%;
}

.whyus_content {
    height: 100%;
    display: flex;
    align-items: center;
}

.whyus_content-card {
    max-height: 100%;
    display: block;
    padding: 0.5rem 0;
}

.whyus_content-card i {
    display: inline-block;
    font-size: 1rem;
    color: #FCA70C;
    line-height: 0 !important;
}

.whyus_content-card p {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin: 0;
}

@media (max-width:600px) {
    .whyus_content-card p,
    .whyus_content-card i {
        font-size: 1rem;
    }
}

.testimoniales {
    background-color: #f7f7f7;
}

.testimoniales-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimoniales-content-box {
    box-shadow: 0 0 3rem #cac4ce;
    position: relative;
    display: flex;
    align-items: center;
    height: 20rem;
    width: 25rem;
    background-color: #ffffff;
}

.testimoniales-content-box span {
    position: absolute;
    height: 2rem;
    width: 100%;
    background-color: #4A41A3;
    top: 0;
    left: 0;
    right: 0;
}

.testimoniales-content-box p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #123b4f;
}

.testimoniales-content-box img {
    position: absolute;
    bottom: -4.5rem;
    right: 50%;
    transform: translate(50%);
}

.testimoniales-content-box h3 {
    display: block;
    position: absolute;
    bottom: -7.5rem;
    right: 50%;
    transform: translate(50%);
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    color: #123b4f;
    font-weight: 500;
    width: 100%;
}

.testimoniales-content-box h4 {
    display: block;
    position: absolute;
    bottom: -9.5rem;
    right: 50%;
    transform: translate(50%);
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #123b4f;
    width: 100%;
}

.owl-carousel .owl-item img {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #f7f7f7 !important;
    box-shadow: 0 0 1.5rem #CAC4CE;
    padding: 0.7rem;
}

.owl-stage-outer {
    height: 40rem;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #4A41A3;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #FCA70C;
}

.form_box {
    border-radius: 5px;
    padding: 2rem 4rem;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #123b4f;
    display: block;
}

.form_box input,
.form_box select {
    font-size: 1rem;
    color: #123b4f;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    display: block;
    height: 2rem;
    background-color: #f7f7f7 !important;
    border: 0 !important;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.footer {
    height: 100%;
    padding: 1.2rem 0;
    background-color: #f7f7f7;
}

.footer .container>.row {
    margin-bottom: 20px;
}

.footer_box {
    display: flex;
    flex-direction: column;
}

.footer_box h2 {
    color: #FCA70C;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.footer_box a {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    display: inline;
    text-decoration: none;
}

.footer_box a:not(:last-child) {
    margin-bottom: 1rem;
}

.footer_box a:visited,
.footer_box a:link {
    color: #123b4f;
}

.footer_box a:hover {
    color: #4A41A3;
}

.footer_box span {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}

.footer_box span:not(:last-child) {
    margin-bottom: 1rem;
}

.footer_box i {
    color: #5863F8;
    font-size: 1rem;
    margin-right: 1rem;
}

.footer_box-partners {
    display: flex;
    flex-direction: column;
}

.footer span.social {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer span.social div {
    margin-bottom: 5rem;
}

.footer span.social div a {
    text-decoration: none;
}

.footer span.social div a:not(:last-child) {
    margin-right: 2rem;
}

.footer span.social .fa-twitter-square:hover {
    color: #1da1f2;
}

.footer span.social .fa-facebook-square:hover {
    color: #4267b2;
}

.footer span.social .linkedin:hover {
    color: #0077b5;
}

.footer span.social .fa-youtube-square:hover {
    color: #ff0000;
}

.footer span.social div a i {
    font-size: 1.6rem !important;
    color: #5863F8;
}

.footer_faq h2 {
    color: #777;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.footer a:hover {
    text-decoration: none;
    color: #4A41A3;
}

#status {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: #f7f7f7;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 70px;
    height: 70px;
    transition: all 2s;
    transform: perspective(1000px) rotateX(0px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    animation: 1.5s ease-in-out 0s infinite alternate both wiggle;
}

.exhaust {
    transform: translateX(-60px) translateY(-10px) rotateZ(60deg) !important;
    animation: 0.2s ease-in-out 0s infinite alternate both smoke;
}

@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes smoke {
    100% {
        opacity: 0;
    }
}

#preloader {
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

@media(max-width: 767px) {
    .about-box_img img {
        padding-top: 9rem;
    }
    .services_service-img-box img {
        padding-top: 6rem;
    }
}

.lang {
    text-align: center;
}

.mapouter {
    height: 100%;
}